.abc li a{
      
  text-decoration: none;
}
.abc li {
  display:inline-block;
  text-align: center;
  margin: 20px;
  text-decoration: none;
}
.abc {
  text-align: center;
  margin-top:20px;
  text-decoration: none;
}